.header
  - if !current_page?(root_path)
    .header-left
      = link_to :back do
        %i.fa-solid.fa-angles-left
  -else
    .header-left
  .header-title
    %h2 My Recipe
  .header-right
    .openbtn
      %span
      %span
      %span
    %nav#g-nav
      %ul
        %li
          = link_to 'ログアウト'
        %li
          = link_to 'お問い合わせ'