@import 'variables';
@import 'devise';
@import 'header';
@import 'recipe';
@import 'font-awesome';
@import 'footer';
@import 'form';
@import 'button';
@import 'check_box';


html {
    width: 100%;
}

body {
    font-family: "Helvetica Neue";
    
    margin: 0;
    a {
        text-decoration: none;
        color: #000000;
    }
}