@mixin btn {
    margin-top: 5px;
    padding: 3px;
    color: #fff;
    background-color: $primary-color;
    border: 3px outset $primary-color;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

@mixin active_btn {
    margin-top: 40px;
    width: 100%;
    height: 30px;
    color: $primary-color;

    border: none;
    border-radius: 5px;
    background-color: #FEDCCC;
}

.active-btn {
    @include active_btn;
}

.edit-btn {
    @include btn;
    margin-left: 10px;
}

.assessment_active_btn {
    @include active_btn;
    margin-top: 10px;
}

.cancel {
    margin-top: 10px;

    p {
        line-height: 30px;
        font-size: 13px;
        color: #fff;
    }

    a {
        display: block;
        line-height: 30px;
        color: #fff;
        font-size: 13px;
    }
    .cancel_btn {
        @include active_btn;
        text-align: center;
        background-color: #f0f0f0;
        margin-top: 5px;
    }
}