@mixin input {
    display: block;
    margin: auto;
    height: 55px;
    width: 300px;
    border-color: #E3E9EC;
    border-width: 1px;
    border-style: solid;
}

.devise {
    margin-top: 60px;
    &_image {
        img {
            display: block;
            margin: auto;
        }
    }
    
    h1 {
        text-align: center;
    }

    input[type='email'] {
        @include input;
    }
    input[type='password'] {
        @include input;
        border-top: 0;
    }
    input[type='submit'] {
        @include input;
        width: 304px;
        margin-top: 20px;
        background-color: $primary-color;
        color: #fff;
        font-size: 18px;
        border-radius: 5px;
    }

    &_links {
        display: flex;
        justify-content: center;
        a {
            display: block;
            margin-top: 10px;
            margin-left: 10px;
            font-size: 10px;
        }
    }
}