.fa-solid {
    font-size: 1.8em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    &_post-btn {
        position: relative;
        .fa-circle-plus {
            position: absolute;
            font-size: 4em;
            color: $primary-color;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
    &_menu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
    }
}