.fa-solid {
    font-size: 1.8em;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    &_post-btn {
        position: relative;

        .fa-circle-plus {
            position: absolute;
            color: #F77C42;
            font-size: 4em;
            background-color: #fff;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
    &_menu {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;

        text-align: center;

        a {
            color: #000000;
        }
        
        p {
            margin-top: 3px;
            margin-bottom: 0;
            color: #E8E8E8;
            font-size: 5px;
        }

        .active {
            a {
                color: #F77C42;
            }
    
            p {
                margin-top: 3px;
                margin-bottom: 0;
                font-size: 5px;
                color: #F77C42;
            }
        }

        box-shadow: 0 -2px 20px 0 rgb(173, 173, 173);
    }
}