.header {
    height: 60px;
    background: $primary-color;

    .header-title {
        h2 {
            margin: auto;
            text-align: center;
            color: #fff;
            line-height: 60px;
        }
    }
}