.container {
    padding: 15px 15px 0 15px;
    width: 90%;
    margin: auto;
    margin-right: 0;
    height: 600px;
    overflow-y: hidden;
    overflow-y: scroll;
}

.recipe-row {
    display: flex;
    
    .recipe-row-contents {
        display: flex;
        padding: 8px 0;
        border-bottom:1px solid #F6F6F6 ;
        width: 80%;
        a{
            width: 100%;
            display: block;
            display: flex;
        }

        .recipe-category-image {
            i {
                line-height: 61px;
            }
        }

        .recipe-intro {
            margin-left: 20px;
            .recipe-title {
                p {
                    font-size: 14px;
                    margin: 7px 0 0 0;
                }
            }
            .recipe-info {
                span {
                    font-size: 10px;
                    opacity: 0.5;
                }
            }
        }
    }
    .recipe-trash {
        margin: 0 0 0 auto;
        a {
            line-height: 70px;
        }
    }
}

