@mixin box {
    border: 1px solid #979797;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(173, 173, 173);
}

@mixin btn {
    margin-top: 5px;
    padding: 3px;
    color: #fff;
    background-color: #F77C42;
    border: 3px outset #F77C42;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}


.recipe-intro {
    width: 100%;

    .recipe-url { 
        @include box;
        padding: 3px 5px;

        a {
            color: #1A0DAB	;
            display: inline-block;
            width: 80%;
            margin-top: 5px;
            font-size: 12px;
            margin-left: 5px;
        }

        a:hover {
            color:#979797;
        }
        a:active {
            color:#979797;
        }

        span {
            overflow-wrap: break-word;
        }
    }
    .recipe-info {
        margin-top: 5px;
        padding: 5px 3px;
        span {
            font-size: 10px;
            color: #575757;
            overflow-wrap: break-word;
        }
    }
    .recipe-content {
        @include box;
        height: 120px;
        margin-top: 30px;
        font-size: 10px;
        padding: 0 5px;
    }
}

.btn-action {
    float: right;
    margin-top: 7px;
    display: flex;

    p {
        margin-bottom: 0;
    }

    .assessment_btn {
        @include btn;
    }
}
